<header class="header">
    <div class="wrapper">
        <h1 class="title"><a href="/">图书管理系统</a></h1>
    </div>
    <nav class="navigation" id="navigation">
        <div class="wrapper">
            <span class="blog-menu">
                <a href="/"><i class="fa fa-fw fa-home"></i>首页</a>
                <a href="/user">用户管理</a>
                <a href="/book">书籍管理</a>
                <a href="/order">订单管理</a>
                <a href="/invoice">账单记录</a>
                <a href="/logout">登出账户</a>
            </span>
        </div>
    </nav>
</header>