<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA_Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
</head>

<body>
    {{> header}}
    <main class="main">
        <div class="wrapper">
            {{{body}}}
        </div>
    </main>
    {{> footer}}
</body>
</html>
