<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
    <a href="/user">用户管理</a>
    <a href="/book">书籍管理</a>
    <a href="/order">订单管理</a>
    <a href="/invoice">账单记录</a>
    <a href="/logout">登出账户</a>
    {{{body}}}
</body>
</html>
